body{
  background-color: #011627;
  color: white;
  text-align: center;
  border: 40px solid #E71D36;
  border-top: 0px;
  margin: 0px;
  margin-top: 0px;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
}
p{
  font-family: 'Lobster', cursive;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  margin: 10px;
}

#submit{
  background-color: #FF9F1C;
  height: 100px;
  width: 200px;
  margin: 4px;
  margin-top: 15px;
  font-size: 1.5em;
  border-radius: 25px;

}
